*{
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
.img-container{
    margin: auto;
    height: 60vh;
    width: 60vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    border-top-left-radius: 500px;
    border-bottom-right-radius: 500px;
    box-shadow: 5px 5px 25px hsla(0, 0%, 45%, 0.63);
    border: 5px solid pink;
}
.btn-container{
    margin: auto;
    height: 40px;
    width: 90px;
    margin-top: 20PX;
    display: flex;
    justify-content: space-around;
}
#btn{
    color:black;
    height: 30px;
    width: 90px;
    background-color: pink;
    margin: auto;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
